<div class="v_tile_container">

	<!-- Main Image -->
	<div class="row">
		<div class="col-md-12">
			<%= image_tag voting.image_items[0].image_file.url(:s), class: "v_tile_main_img", width: '228px' %>
		</div>
	</div>

	<!-- teaser images -->
	<div class="row">
		<div class="col-md-12">
			<%= image_tag voting.image_items[1].image_file.url(:xs), width: '114px' %><%= image_tag voting.image_items[2].image_file.url(:xs), width: '114px' %>
		</div>
	</div>

	<!-- teaser title & owner -->
	<div class="row">
		<div class="col-md-12">
			<h4><%= link_to voting.title[0..22] + '...', voting_type_path(voting) %><br>
				<small>By <%= link_to "#{voting.user.first_name} #{voting.user.last_name[0]}.", user_path(voting.user) %></small>
			</h4>
		</div>
	</div>

	<!-- teaser description -->
	<div class="row">
		<div class="col-md-12">
			<%= voting.description[0..100] %><%= link_to '...', voting_type_path(voting) %>
		</div>
	</div>

	<br>

	<div class="row">
		<div class="col-md-4">
			<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <span class="badge">999</span>
		</div>
		<div class="col-md-8">
			<% voting.tags.each do |tag| %>
				<%= link_to "/?tags=#{tag}" do %><span class="badge"><%= tag %></span><% end %>
			<% end  %>
		</div>
	</div>


	
	
</div>