
<div class="row" style="width: 85%" >
  <div class="col-lg-2 text-primary" data-toggle="tooltip" data-placement="bottom" title="Settings for this Voting">
    <h4>Properties:</h4>
  </div>  
  <div class="col-sm-2 text-center"  data-toggle="tooltip" data-placement="bottom" title="Number of single clicks for this voting!">
  	<span class="label label-primary v_label-as-badge"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%=@voting.hits %> hits</span>
  </div>
  <div class="col-sm-2 text-center"  data-toggle="tooltip" data-placement="bottom" title="Total numbers of votable items in this voting!">
  	<span class="label label-primary v_label-as-badge"><span class="glyphicon glyphicon-picture  " aria-hidden="true"></span> <%=@voting.items.size %> <%=@voting.item_type.pluralize %> </span>
  </div>
  <div class="col-sm-2 text-center" data-toggle="tooltip" data-placement="bottom" title="Voting mode">
  	<span class="label label-primary v_label-as-badge"><span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> Style: <%=@voting.voting_type %></span>
  </div>
  <div class="col-sm-2 text-center" data-toggle="tooltip" data-placement="bottom" title="Who can see this voting?">
  	<span class="label label-primary v_label-as-badge"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Audience: <%=@voting.audience %></span>
  </div>
  <div class="col-sm-2 text-center" data-toggle="tooltip" data-placement="bottom" title="Can anybody add items to this voting?">
  	<span class="label label-primary v_label-as-badge"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> Uploads: <%=@voting.contribution %> </span>
  </div>
</div>