<div class="row">
  <div class="col-md-12">
    <div class="v_voting_cover_image_container">
      <%= image_tag @voting.image_items[0].image_file.url(:original), class: 'v_item_image_original v_voting_cover_image image-responsive center-block' unless @voting.image_items.empty? %>
      <div class="v_play_voting text-success">
        <button class="btn btn-sucess btn-lg text-success">
          <%= link_to @voting, class: 'text-success' do %>
            <span class="glyphicon glyphicon-play-circle "></span> VOTE!
          <% end %>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12"></div>
</div>

<div class="row">
  <div class="col col-sm-9">&nbsp;</div>
  <div class="col col-sm-3 text-right"></div>
  <%= render 'layouts/shared/social_buttons' %>
</div>


<div>
  <h1><%= @voting.title %></h1>
  <p><%= @voting.description %></p>
</div>

<%= render '/votings/basic_partials/voting_properties' %>
