<div class="row">
  <div class="col-md-12">
    <div class="v_voting_cover_image_container">
      <%= image_tag @voting.image_items[0].image_file.url(:original), class: 'v_item_image_original v_voting_cover_image image-responsive center-block' unless @voting.image_items.empty? %>
      <div class="v_play_voting text-success">
        <button class="btn btn-sucess btn-lg text-success">
          <%= link_to @voting, class: 'text-success' do %>
            <span class="glyphicon glyphicon-play-circle "></span> VOTE!
          <% end %>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-12"></div>
</div>

<hr>

<div class="row">
  <div class="col col-sm-1">
    <!-- share! -->
    <button class="btn btn-primary" id="trigger_share_voting" data-url="<%= "/votings/#{@voting.id}/share" %>"><i class="glyphicon glyphicon-send"></i> Share</button>
  </div>

<div class="col col-sm-1">
  <!-- bookmark -->
<% if user_signed_in? && !is_owner?(@voting.user_id) %>
  <% if current_user.bookmarks.include?(@voting.id.to_s) %>
    <button class="btn btn-default"  id="bookmark_remove"  data-bookmark="<%= @voting.id %>"><i class="glyphicon glyphicon-heart text-danger"></i></button>
     <button style="display: none;" class="btn btn-default" id="set_bookmark" data-bookmark="<%= @voting.id %>"><i class="glyphicon glyphicon-heart"></i></button>
  <% else %>
    <button class="btn btn-default" id="set_bookmark" data-bookmark="<%= @voting.id %>"><i class="glyphicon glyphicon-heart"></i></button>
    <button class="btn btn-default" style="display: none;" id="bookmark_set"><i class="glyphicon glyphicon-heart text-danger"></i></button>
  <% end %>
  <br>
<% end %>  
</div>

  <div class="col col-sm-9">
    <%= render 'layouts/shared/social_buttons' %>
  </div>
  <div class="col col-sm-1">
    <!-- report  -->  
    <button class="btn btn-sm btn-default complaint" id="trigger_complaint" data-url="/complaints/new?item_type=voting&item_id=<%= @voting.id%>&"><i class="glyphicon glyphicon-flag text-warning"></i></button><br>
  </div>
</div>


<div>
  <h1><%= @voting.title %></h1>
  <p><%= @voting.description %></p>
</div>

<%= render '/votings/basic_partials/voting_properties' %>
