<%= form_for(@voting, :html => {:class => 'form-horizontal', :id => 'new_voting_form'}) do |f| %>
  <% if @voting.errors.any? %>
    <div class="form-group">
      <div class="col-md-1">
       &nbsp;
      </div>
      <div class="col-md-10 alert alert-danger">
        Oh snap! There are a few problems with your voting. Please take a look:
        <ul>
          <% @voting.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-1">
        &nbsp;
      </div>
    </div>
  <% end %>

<!-- Voting TITLE  -->
<div class="form-group">
    <div class="col-md-1">
      &nbsp;
    </div>
    <div class="col-md-3 text-info">
      Voting Title:
    </div>
    <div class="col-md-7">
    <%= f.text_field :title, class: "form-control", placeholder: "E.g. Cutest kitten photo!" %>
    </div>
    <div class="col-md-1">
      &nbsp;
    </div>
  </div>  

<!-- Voting DESCRIPTION  -->
  <div class="form-group">
    <div class="col-md-1">
      &nbsp;
    </div>
    <div class="col-md-3 text-info">
      Voting Description:
    </div>
    <div class="col-md-7">
      <%= f.text_area :description, class: "form-control", rows: "3" %>
    </div>
    <div class="col-md-1">
      &nbsp;
    </div>
  </div>

<!-- Voting TAGS  -->
  <div class="form-group">
    <div class="col-md-1">
      &nbsp;
    </div>
    <div class="col-md-3 text-info">
      Tags:
    </div>
    <div class="col-md-7">
      <%= f.text_field :tags, id: :tagsinput, 'data-role' => 'tagsinput', class: "form-control", value: @voting.tags.join(",") %><br>
      <small class="text-warning">(use comma "," as a separator)</small>
    </div>
    <div class="col-md-1">
      &nbsp;
    </div>
  </div> 


<!-- collapsable panel -->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Detailed Configuration:
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">


<!-- Voting AUDIENCE  -->
  <div class="form-group">
    <div class="col-md-1">
      &nbsp;
    </div>
    <div class="col-md-3 text-info">
      Audience:
    </div>
    <div class="col-md-7">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-info btn-sm <%= @voting.audience == 'everyone' ? 'active' : nil %>">
          <%= f.radio_button :audience, 'everyone' %>Everybody
        </label>
        <label class="btn btn-info btn-sm <%= @voting.audience == 'signed_in' ? 'active' : nil %>">
          <%= f.radio_button :audience, 'signed_in' %>Signed In
        </label>
        <label class="btn btn-info btn-sm <%= @voting.audience == 'friends' ? 'active' : nil %>">
          <%= f.radio_button :audience, 'friends' %>Friends
        </label>
        <label class="btn btn-info btn-sm <%= @voting.audience == 'link' ? 'active' : nil %>">
          <%= f.radio_button :audience, 'link' %>Link Only
        </label>
      </div>
    </div>
    <div class="col-md-1">
      &nbsp;
    </div>
  </div>


<!-- Voting CONTRIBUTION  -->
  <div class="form-group">
    <div class="col-md-1">
      &nbsp;
    </div>
    <div class="col-md-3 text-info">
      Contribution:
    </div>
    <div class="col-md-7">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-info btn-sm <%= @voting.contribution ? 'active' : nil %>">
          <%= f.radio_button :contribution, true %>Allowed
        </label>
        <label class="btn btn-info btn-sm <%= @voting.contribution ? nil : 'active' %>">
          <%= f.radio_button :contribution, false %>Not Allowed
        </label>
      </div>
    </div>
    <div class="col-md-1">
      &nbsp;
    </div>
  </div>


<!-- Voting ONLINE DATES  -->
  <div class="form-group">
    <div class="col-md-1">
      &nbsp;
    </div>
    <div class="col-md-3 text-info">
      Online from - To:
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <%= f.text_field :online_from, class: 'form-control', id: 'datepicker_from', placeholder: Date.current %>
        <span class="glyphicon glyphicon-calendar input-group-addon" aria-hidden="true"></span> 
      </div>
    </div>
    <div class="col-md-4">
      <div class="input-group">
        <%= f.text_field :online_to, class: 'form-control', id: 'datepicker_to' %>
        <span class="glyphicon glyphicon-calendar input-group-addon" aria-hidden="true"></span> 
      </div>      
    </div>
  </div>

 

<!-- Voting Enabled  -->
  <div class="form-group">
    <div class="col-md-1">
      &nbsp;
    </div>
    <div class="col-md-3 text-info">
      <%= @voting.active ? "Active!" : "Suspended!"  %>
    </div>
    <div class="col-md-7">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-info btn-sm <%= @voting.active ? 'active' : nil %>">
          <%= f.radio_button :active, true %>Active
        </label>
        <label class="btn btn-info btn-sm <%= @voting.active ? nil : 'active' %>">
          <%= f.radio_button :active, false %>Suspended
        </label>
      </div>
    </div>
    <div class="col-md-1">
      &nbsp;
    </div>
  </div>  
      </div>
    </div>
  </div>
</div>



<!-- SUBMIT  -->
  <br>
  <div class="form-group">
    <div class="col-md-4">
      &nbsp;
    </div>
    <div class="col-md-7">
      <button id="submit"  class="btn btn-lg btn-primary">Save!</button>
      -or-
      <a onclick="hideCanvas();" href='#'>cancel</a>
    </div>    
    <div class="col-md-1">
      &nbsp;
    </div>
  </div>

<% end %>
<script type="text/javascript">
    $('#datepicker_from').datepicker({format: 'yyyy-mm-dd'});
    $('#datepicker_to').datepicker({format: 'yyyy-mm-dd'});
</script>
