  <!-- Header  -->

  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-10 text-info">
      <h3>
        Spread the word!
        <small>Invite your friends to this voting:</small>
      </h3>
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>


  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-3">
      <%= image_tag @voting.image_items[0].image_file.url(:xs), class: 'image-thumbnail v_item_image_xs' %>
    </div>
    <div class="col-sm-7">
      <h4><%= @voting.title %></h4>
      <%= @voting.description[0..100] %> ...
      <br>
      <%= render '/votings/tile_partials/voting_properties', voting: @voting %>
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>

<form action="<%= "/votings/#{@voting.id}/share" %>" method="post" id="recommend_form">

<br>

  <!-- Your Name  -->

  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-3 text-info">
      Your Name:
    </div>
    <div class="col-sm-7">
      <input type="text" class="form-control" name="voting[email_sender]" placeholder="Your Name">
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>
  
  <br>

  <!-- email adresses  -->
  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-3 text-info">
      Email adresses:
    </div>
    <div class="col-sm-7">
      <textarea type="email" name='voting[email_adresses]' class="form-control" id="email_input" placeholder="Enter emails separated by comma." ></textarea>
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>

<br>
<!-- submit  -->
  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-3 text-info">
      &nbsp;
    </div>
    <div class="col-sm-7">
      <button type="submit" class="btn btn-success" id="send_share_button">Send away!</button>
      <%= image_tag 'ajax-loader.gif', id: 'loading_gif', style: 'display: none; width: 100%;' %>
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>

<script type="text/javascript">

$("#recommend_form").ajaxForm({
      type: "post", 
      error : function(jqXHR, textStatus, errorThrown) {
        alert('There was a problem loading the requested content. Please try again later');
      },
      success : function(html, resultText) {
        $('#overlay').html(html);
      }
    });
$('#send_share_button').click(function(){
    $('#send_share_button').hide();
    $('#loading_gif').fadeIn();
  });

</script>
