  <!-- Header  -->

  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-10 text-danger">
      <h3>
        Complaint
        <small>You are about to flag this voting. Please be careful to provide all the necessary informatiom for us to follow up on your submission.</small>
      </h3>
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>

<hr>

  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-3">
      <%= image_tag @voting.image_items[0].image_file.url(:xs), class: 'image-thumbnail v_item_image_xs' %>
    </div>
    <div class="col-sm-7">
      <h4><%= @voting.title %></h4>
      <%= @voting.description[0..100] %> ...
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>

<br>

<%= render 'form' %>

<hr>
  <div class="row">
    <div class="col-sm-1">
      &nbsp;
    </div>
    <div class="col-sm-10 text-danger">
      If you want to report a copyright infringement then please use our <br>
      <strong><%= link_to "Copyright infringement form", '' %></strong>.
    </div>
    <div class="col-sm-1">
      &nbsp;
    </div>
  </div>