<%= form_for(@user, :html => {multipart: true, :class => 'form-horizontal'}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

<!-- TODO: Space this correctly -->
<br>
<br>

<!-- TODO: Style input button -->
<!-- TODO: Add cover image -->
<!--  User Image -->
  <div class="form-group">
    <div class="col-md-2 text-info">
      Profile Photo:
    </div>
    <div class="col-md-4">

        <%= image_tag @user.user_image.url(:s) , class: "img-thumbnail"%>
        <%= f.file_field :user_image, style: "position: relative; left: 20px; bottom: 50px;"%>

    </div>
    <div class="col-md-6">
      &nbsp;
    </div>
  </div>
  

<!--  First Name -->
  <div class="form-group">
    <div class="col-md-2  text-info">
      First name:
    </div>
    <div class="col-md-4">
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      &nbsp;
    </div>
  </div>


<!--  Last Name -->
  <div class="form-group">
    <div class="col-md-2 text-info">
      Last name:
    </div>
    <div class="col-md-4">
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      &nbsp;
    </div>
  </div>


<!--  About me -->
  <div class="form-group">
    <div class="col-md-2 text-info">
      About me:
    </div>
    <div class="col-md-4">
      <%= f.text_area :about, class: 'form-control' %>
    </div>
    <div class="col-md-6">
      &nbsp;
    </div>
  </div>


<!--  date of birth -->
  <div class="form-group">
    <div class="col-md-2 text-info">
      Date of birth:
    </div>
    <div class="col-md-3">
      <div class="input-group">
        <%= f.text_field :dob, type: "date", class: "form-control", placeholder: "1/1/1900", id: "datepicker", 'data-provide' => "datepicker" %>
        <span class="glyphicon glyphicon-calendar input-group-addon" aria-hidden="true"></span> 
      </div>
    </div>
    <div class="col-md-7">
      &nbsp;
    </div>
  </div>


<!--  Sex / gender -->
  <div class="form-group">
    <div class="col-md-2 text-info">
      Sex:
    </div>
    <div class="col-md-4">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-info <%= @user.sex == "M" ? 'active' : nil %>">
          <%= f.radio_button :sex, "M" %>M
        </label>
        <label class="btn btn-info <%= @user.sex == "F" ? 'active' : nil %>">
          <%= f.radio_button :sex, "F" %>F
        </label>
        <label class="btn btn-info <%= @user.sex == "N" ? 'active' : nil %>">
          <%= f.radio_button :sex, "N"  %>Prefer not to say
        </label>
      </div>
    </div>
    <div class="col-md-6">
      &nbsp;
    </div>
  </div>

<!-- TODO: Add location map -->

  <div class="form-group">
    <div class="col-md-2 text-info">
      &nbsp;
    </div>
    <div class="col-md-4">
      <%= f.submit 'Save' , class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
