<div class="rating stars_small" id="stars" >
	<span class='rate_star' data-index='<%= index %>' data-rating="5" data-item="<%= item.id %>">☆</span>
	<span class='rate_star' data-index='<%= index %>' data-rating="4" data-item="<%= item.id %>">☆</span>
	<span class='rate_star' data-index='<%= index %>' data-rating="3" data-item="<%= item.id %>">☆</span>
	<span class='rate_star' data-index='<%= index %>' data-rating="2" data-item="<%= item.id %>">☆</span>
	<span class='rate_star' data-index='<%= index %>' data-rating="1" data-item="<%= item.id %>">☆</span>
</div>