
<%= form_for(@image_item, :html => {multipart: true, :class => 'form-horizontal', :id => 'fileupload'}) do |f| %>
  <% if @image_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image_item.errors.count, "error") %> prohibited this image_item from being saved:</h2>

      <ul>
      <% @image_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- The file upload form used as target for the file upload widget -->

        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="/"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <%= f.hidden_field :voting_id, value: @image_item.voting_id %>
        <div class="row fileupload-buttonbar">
            <div class="col col-sm-1">&nbsp;</div>
            <div class="col-sm-8">
              <h3>Or upload from your computer:</h3>
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Add files...</span>
                      <input name="image_item[image_file][]" id="image_item_image_file" type="file" multiple>
                </span>
                <button type="submit" class="btn btn-primary start" id="submit_upload">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start upload</span>
                </button>
                <div style="display: none" id='upload_processing' class="text-center"> 
                  <h3>
                    Please wait...
                    <small>The file upload is processing and may take a long time depending on the number and size of files you are uploading.</small>
                  </h3>
                  <%= image_tag 'ajax-loader.gif' %>
                </div>
<!-- tmp disabled
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" class="toggle">
-->
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-sm-3 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
<% end %>


<script type="text/javascript">
$("#fileupload").ajaxForm({
      type: "post", 
      url : '/votings/<%= @voting.id  %>/image_items',
      error : function(jqXHR, textStatus, errorThrown) {
        alert('There was a problem loading the requested content. Please try again later');
      },
      success : function(html, resultText) {
       $('#overlay').html(html);
      }
    });

$('#submit_upload').click(function(){
  $('#upload_processing').show();
});
</script>
