<div class="row">
   <div class="col col-sm-1">&nbsp;</div>
  <div class="col col-sm-5">
    <h2>Log in</h2>
  </div>
  <div class="col col-sm-1">
   &nbsp;
  </div>
  <div class="col col-sm-5">
   <h2>
    <%= link_to new_registration_path(:user) do %>
      <button class="btn btn-primary">
        Create a New Account
      </button>
    <% end %>
   </h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col col-sm-1">&nbsp;</div>
  <div class="col col-sm-5">
    <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', type: 'email'  %>
  </div>
  </div>
  <div class="col col-sm-6">&nbsp;</div>
</div>

<div class="row">
  <div class="col col-sm-1">&nbsp;</div>
  <div class="col col-sm-5">
    <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', type: 'password' %>
  </div>
  </div>
  <div class="col col-sm-6">&nbsp;</div>
</div>

<% if devise_mapping.rememberable? -%>
<div class="row">
  <div class="col col-sm-1">&nbsp;</div>
  <div class="col col-sm-5">
    
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  
  </div>
  <div class="col col-sm-6">&nbsp;</div>
</div>
<% end -%>

<div class="row">
  <div class="col col-sm-1">&nbsp;</div>
  <div class="col col-sm-5">
    <div class="actions">
    <%= f.submit "Log in" %>
  </div>
  </div>
  <div class="col col-sm-6">&nbsp;</div>
</div>

<% end %>



  <div class="row">
  <div class="col col-sm-1">&nbsp;</div>
  <div class="col col-sm-5">
    <%= render "devise/shared/links" %>
  </div>
  <div class="col col-sm-6">&nbsp;</div>
</div>


<% if params[:ajax].nil? %>
  
<script type="text/javascript">
$("#new_user").ajaxForm({
      type: "post", 
      error : function(jqXHR, textStatus, errorThrown) {
        alert('There was a problem loading the requested content. Please try again later');
      },
      success : function(html, resultText) {
        $('#overlay').html(html);
      }
    });
</script>

<% end %>