<%= image_tag @voting.user.user_image.url(:xs), class: 'img-thumbnail v_user_image_xs', alt: @voting.user.first_name %>
  <p>
    <%= link_to user_path(@voting.user_id) do %>By <%= @voting.user.first_name %><% end %>
  </p>

<!-- CURRENTLY disabled -->
<% if 0 > 1 %>
<!-- only if this is not my own voting -->
<% if user_signed_in? && !is_owner?(@voting.user_id) %>
  <!-- if we are friends then show message button -->
  <% if @voting.user.friends.include?(current_user.id.to_s) %>

    <%= link_to user_path(@voting.user_id) do %><button class="btn btn-sm btn-info" style="width: 110px"><i class="glyphicon glyphicon-envelope"> </i> Message</button><% end %>
  
  <% else %>
  <!-- if we are not friends then show add friend button -->
    <button class="btn btn-sm btn-info" style="width: 110px" data-friend="<%= @voting.user.id %>" id="send_friend_request"><i class="glyphicon glyphicon-user"></i> Add Friend</button>
    <button class="btn btn-sm btn-success" style="display: none; width: 110px;" id="friend_request_sent"><i class="glyphicon glyphicon-check"></i> Request Sent</button>
  <% end %>
  <br><br>
<% end %>
<% end %>

<br>

<!-- social sharing --> 
<%= render 'layouts/shared/social_buttons' %>
<!-- properties -->
<hr>
<%= render '/votings/side_nav/properties' %>

<!-- tags -->
<% if @voting.tags.any? %>
  <hr>
  <%= render '/votings/side_nav/tags' %>
<% end %>
