<%= image_tag @voting.user.user_image.url(:xs), class: 'img-thumbnail', alt: @voting.user.first_name %>
  <p>
    <%= link_to user_path(@voting.user_id) do %><i class="glyphicon glyphicon-eye-open"> </i> <%= @voting.user.first_name %><% end %>
  </p>


<!-- only if this is not my own voting -->
<% if user_signed_in? && !is_owner?(@voting.user_id) %>
  <!-- if we are friends then show message button -->
  <% if @voting.user.friends.include?(current_user.id.to_s) %>

    <%= link_to user_path(@voting.user_id) do %><button class="btn btn-sm btn-info" style="width: 110px"><i class="glyphicon glyphicon-envelope"> </i> Message</button><% end %>
  
  <% else %>
  <!-- if we are not friends then show add friend button -->
    <button class="btn btn-sm btn-info" style="width: 110px" data-friend="<%= @voting.user.id %>" id="send_friend_request"><i class="glyphicon glyphicon-user"></i> Add Friend</button>
    <button class="btn btn-sm btn-success" style="display: none; width: 110px;" id="friend_request_sent"><i class="glyphicon glyphicon-check"></i> Request Sent</button>
  <% end %>
  <br><br>
<% end %>

<!-- bookmark -->
<% if user_signed_in? && !is_owner?(@voting.user_id) %>
  <% if current_user.bookmarks.include?(@voting.id.to_s) %>
    <button class="btn btn-sm btn-default" style="width: 110px;" id="bookmark_remove"  data-bookmark="<%= @voting.id %>"><span class="label label-success v_label_as_badge"><i class="glyphicon glyphicon-bookmark"></i></span> Bookmarked</button>
     <button style="width: 110px; display: none;" class="btn btn-sm btn-default" id="set_bookmark" data-bookmark="<%= @voting.id %>"><i class="glyphicon glyphicon-bookmark"></i> Bookmark</button>
  <% else %>
    <button style="width: 110px" class="btn btn-sm btn-default" id="set_bookmark" data-bookmark="<%= @voting.id %>"><i class="glyphicon glyphicon-bookmark"></i> Bookmark</button>
    <button class="btn btn-sm btn-default" style="display: none;width: 110px;" id="bookmark_set"><span class="label label-success v_label_as_badge"><i class="glyphicon glyphicon-bookmark"></i></span> Bookmarked</button>
  <% end %>
  <br>
<% end %>  

<!-- share! -->
  <button style="width: 110px" class="btn btn-sm btn-default" id="trigger_share_voting" data-url="/my_account/coming_soon"><i class="glyphicon glyphicon-share"></i> Share</button><br>

<!-- report  -->  
  <button style="width: 110px" class="btn btn-sm btn-default" id="trigger_report" data-url="/my_account/coming_soon"><i class="glyphicon glyphicon-flag"></i> Flag</button><br>

<!-- vote -->  
  <button style="width: 110px" class="btn btn-sm btn-default" id="trigger_vote" data-url="/my_account/coming_soon"><i class="glyphicon glyphicon-play-circle"></i> Vote</button><br>


  <br>
  <br>

  <% if @voting.contribution == true %>
    <a id="new_image_item" data-url="<%= "/votings/#{@voting.id}/image_items/new" %>" class="btn btn-success navbar-btn" >
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Add <%= @voting.item_type.pluralize %>
    </a>
  <% end %>