<%= image_tag @user.user_image.url(:xs), class: "img-thumbnail"%>
<p>
  <a href="<%= edit_user_path(current_user.id)  %>"><i class="glyphicon glyphicon-pencil"></i></a> <%= @user.first_name %>
</p>

<ul class="nav nav-sidebar">
  <li><%= link_to 'Votings', '/my_account'  %></li>
  <li><%= link_to 'Friends', ""  %></li>
  <li><%= link_to 'Conversations', ''  %></li>
</ul>

<br>
<br>

<%= yield :my_context %>